<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>The app needs camera access to set your profile picture.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show nearby games and allow others to join. This enhances your experience by connecting you with local players.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.401365978958-7t197g8ijcseo39ne4oedtknqk9febfa</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
